{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}

{% block title %}Edit Perks{% endblock %}{#Permet de donner un titre à son onglet#}
{% block stylesheets %}{#/*Permet de définir le CSS de la page actuelle*/#}
    <style>
        body{
            background-color: gray;
        }
        #perks_form{
            text-align: center;
        }
        input{
            margin-left: 5%;
            width: 80%;
        }
        #perks_form_perk_explanation{
            margin-left: 5%;
            width: 80%;
        }
        #Update{
            margin-left: 50%;
            margin-top: 2%;
        }
        #Delete{
            margin-left: 50.2%;
        }
        #Back{
            margin-left: 49%;
        }
        .btn{
            margin-bottom: 2%;
        }
    </style>
{% endblock %}

{#Permet l'affichage du contenu de la page#}
{% block body %}
    <h1>Edit Perk</h1>

    {{ include('perks/_form.html.twig', {'button_label': 'Update'}) }}

    <form method="post" action="{{ path('perks') }}">
        <button id="Back" class="btn" style="background-color: green; color: white">Back To List</button>
    </form>

    {{ include('perks/_delete_form.html.twig') }}
{% endblock %}
