{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}

{% block title %}Ajout d'un Weapon{% endblock %}{#Permet de donner un titre à son onglet#}
{#HTML de la création de weapon#}
{% block body %}
    <style>
        /*Permet de définir le CSS de la page actuelle*/
        body{
            background-color: gray;
        }
        h1{
            text-align: center;
        }
        .formulaire{
            position: relative;
            left: 10%;
            width: 80%;
        }
    </style>

    {#Affichage du formulaire si user a le role ADMIN#}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="formulaire">
            <div class="row">
                <h2>Ajout d'un weapon</h2>
                {% if msg %}
                    <div class="alert alert-success">{{ msg }}</div>
                {% endif %}
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="weapon_name" class="form-label">Name of the weapon</label>
                        <input required type="text" class="form-control" id="weapon_name" name="weapon_name">
                    </div>
                    <div class="mb-3">
                        <label for="weapon_image" class="form-label">Weapon's image</label>
                        <input required type="text" class="form-control" id="weapon_image" name="weapon_image">
                    </div>
                    <div class="mb-3">
                        <label for="weapon_description" class="form-label">Description of the weapon</label>
                        <textarea required type="text" class="form-control" id="weapon_description" name="weapon_description"></textarea>
                    </div>

                    <!--Bouton pour valider-->
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
