{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}

{% block title %}Ajout d'une Maps{% endblock %}{#Permet de donner un titre à son onglet#}
{#HTML de la création de map#}
{% block body %}
    <style>
        /*Permet de définir le CSS de la page actuelle*/
        body{
            background-color: gray;
        }
        h1{
            text-align: center;
        }
        .formulaire{
            position: relative;
            left: 10%;
            width: 80%;
        }
    </style>

    {#Affichage du formulaire si user a le role ADMIN#}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="formulaire">
            <div class="row">
                <h2>Ajout d'une map</h2>
                {% if msg %}
                    <div class="alert alert-success">{{ msg }}</div>
                {% endif %}
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="map_name" class="form-label">Name of the map</label>
                        <input required type="text" class="form-control" id="map_name" name="map_name">
                    </div>
                    <div class="mb-3">
                        <label for="map_image" class="form-label">Map's image</label>
                        <input required type="text" class="form-control" id="map_image" name="map_image">
                    </div>
                    <div class="mb-3">
                        <label for="map_description" class="form-label">Description of the map</label>
                        <textarea required type="text" class="form-control" id="map_description" name="map_description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="map_layout" class="form-label">Map's layout</label>
                        <input required type="text" class="form-control" id="map_layout" name="map_layout">
                    </div>

                    <!--Bouton pour valider-->
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
