{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}

{% block title %}Ajout de User{% endblock %}{#Permet de donner un titre à son onglet#}
{#HTML de la création de user#}
{% block body %}
    <style>
        /*Permet de définir le CSS de la page actuelle*/
        body{
            background-color: gray;
        }
        h1{
            text-align: center;
        }
        .formulaire{
            position: relative;
            left: 10%;
            width: 80%;
        }
    </style>

    {#Affichage du formulaire si user a le role ADMIN#}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="formulaire">
            <div class="row">
                <h2>Ajout d'un user</h2>
                {% if msg %}
                    <div class="alert alert-success">{{ msg }}</div>
                {% endif %}
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input required type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input required type="password" class="form-control" id="password" name="password">
                    </div>

                    <!--Bouton pour valider-->
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
