<form method="post" action="{{ path('killers_delete', {'id': killers.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ killers.id) }}">
    <button id="Delete" class="btn" style="background-color: red; color: white">Delete</button>
</form>
