{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello to the Dead By Daylight!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>
    </head>

    <div class="example-wrapper">
        <h1>Hello to the Dead By Daylight Wiki! ✅</h1>
        {% if is_granted('ROLE_USER') %} {# permet de verifier la connection #}
            <p>Username: {{ app.user.username }}</p>
        {% endif %}
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/laragon/www/DeadByDaylight/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
            <li>Your main is <code><a href="{{ '/' }}">here</a></code></li>
        </ul>
        <h2>Le début de la fin</h2>
        {% if is_granted('ROLE_ADMIN') %}
            {% for entite in Users %}
            <ul>
                {{ entite.username }}
            </ul>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}