{{ form_start(formsurv) }}
    {{ form_widget(formsurv) }}
<button class="btn btn-primary" id="Update">{{ button_label|default('Save') }}</button>
{{ form_end(formsurv) }}
{#Création automatique du formulaire pour la modification d'un survivor#}