{{ form_start(formweapon) }}
    {{ form_widget(formweapon) }}
<button class="btn btn-primary" id="Update">{{ button_label|default('Save') }}</button>
{{ form_end(formweapon) }}
{#Création automatique du formulaire pour la modification d'un weapon#}