{% extends 'base.html.twig' %}
{% block body %}

    <h1>{{ user.Username }}</h1>
    <div>
        <b>Le/les rôle(s) du User :</b>
        {% for role in user.Roles %}
            <p>{{ role }}</p>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
    {% endif %}
{% endblock %}